{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4>Certificate Expiry Information</h4>
        </div>
        <div class="card-body">
            {% if expiry_info %}
                <div style="font-size:1.1em;">
                    {{ expiry_info|safe }}
                </div>
            {% else %}
                <div class="alert alert-info">
                    No certificate information available.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}